
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: black;
  font-family: Apercu;
}
h1, h2, h3{
  display: inline-block;
  color: white;
  margin-bottom: .5em;
}
h1{
  margin-right: 2em;
  margin-bottom: 0;
}
/*Share Links*/
#social-links{
  position: relative;
  display: inline-block;
  top: -.7em;
  right: .1em;
}
#social-links li{
  list-style: none;
  display: inline-block;
  margin: 0 .5em;
}
#social-links h3{
  position: relative;
  display:inline-block;
  top: .5em;
}
.share{
  display:inline-block;
  //background: #82BF71;
  border-radius: 50%;
  color: white;
  color: transparent;
  height: 2em;
  width: 2em;
  transition: all 0.4s;
}
.share:hover{
  box-shadow: 0 0 1em rgba(255,255,255,.8);
}
#fb-share{
  background: #82BF71 url('../../images/fb.svg') no-repeat center;
  background: url('../../images/fb.svg') no-repeat center;
  background-size: 1.5em 1.5em;
}
#tw-share{
  //background: #82BF71 url('../../images/tw.svg') no-repeat center;
  //background-size: 1.25em 1.25em;

  background: #82BF71 url('../../images/twbird.svg') no-repeat center;
  background: url('../../images/twbird.svg') no-repeat center;
  background-size: 1.5em 1.5em;
}
#li-share{
  background: #82BF71 url('../../images/li.svg') no-repeat center;
  background: url('../../images/li.svg') no-repeat center;
  background-size: 1.25em 1.25em;
}
#gp-share{
  background: #82BF71 url('../../images/gp.svg') no-repeat center;
  background: url('../../images/gp.svg') no-repeat center;
  background-size: 1.5em 1.5em;
}

#infog-links{
  display: inline-block;
  margin: 0 1em;
}
#infog-links li{
  display: inline-block;
  margin: 0 0 .5em .5em;
}
#infog-links a{
  text-decoration: none;
  color: white;
  background: black;
  display: inline-block;
  border: 1px white solid;
  padding: .5em;
  border-radius: .5em;
  transition: all 0.4s;
}
#infog-links a:hover{
  color: black;
  background: white;
}

.vcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#wrapper{
  width: 98vw;
  height : 98vh;
  margin: 1vh auto;
  position: relative;
}
#info-plus-caption{
  position: relative;
}
#learn{
  position: relative;
  width: 100%;
  max-width: 160vh;
  max-height: 90vh;
  background: #222 url('images/noise3.png');
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
}
#captions{
  pointer-events: none;
  position: absolute;
  width: 100%;
  max-width: 160vh;
  height: 100%;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}
/*Depricated?*/
#frame{
  outline:1px red solid;
  position: absolute;
  top: 3%;
  bottom: 3%;
  left: 3%;
  right: 3%;
  background: black;
  background: grey url('images/noise3.png');
  border: 1px solid black;
  box-shadow: 5px 5px 10px 3px rgba(0,0,0,.5);
}

.caption{
  display: inline-block;
  border-radius: 0.25em;
  padding: 0.25em;
  position: absolute;
  background: rgba(0,0,0,.7);
  font-family: Apercu;
  text-align: center;
  color: white;
  font-size: 1.9vw;
  z-index: 100;
  overflow: hidden;
}
.fb-share-button{
  vertical-align: super;
  position: relative;
  top: 1px;
}
.twitter-share-button{
  vertical-align: baseline;
}
@media (min-width: 160vh){
  .caption{
    font-size: 3vh;
  }
  header{
    display: block;
    margin: auto;
    text-align: center;
  }
}
